/**** Tag Selectors ****/
body {
  background-color: #f8f8f8;
}

h1{
  color: #6c7b95;
}

h3{
  color: black;
}
hr {
  border-style: dotted;
}

img:hover{
  background-color: gold
}
/**** Class Selectors ***/

/* css comments are /* */
.animals {

  background-color: black;
}

.sports {

  background-color: pink;

}

/**** ID Selectors ***/

#headings {
  color: blue
}
